body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fff; /* Sfondo bianco */
  color: #333;
}

header {
  text-align: center;
  padding: 20px;
}

header h1 {
  margin-bottom: 10px;
  font-size: 36px; /* Titolo più grande */
  color: #000; /* Nero */
}

.authors {
  font-size: 16px;
  color: #666;
}

.affiliations {
  font-size: 14px;
  color: #999;
}

.buttons {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  gap: 15px; /* Spaziatura tra i pulsanti */
}

.button {
  display: flex;
  align-items: center;
  padding: 10px 15px;
  background-color: #fff; /* Sfondo bianco */
  border: 2px solid #000; /* Bordo nero */
  color: #000; /* Testo nero */
  text-decoration: none;
  border-radius: 30px; /* Arrotondati */
  font-size: 14px;
  font-weight: bold;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.button:hover {
  background-color: #f0f0f0; /* Cambia leggermente colore sul hover */
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  margin-right: 8px;
}

.icon img {
  width: 100%;
  height: 100%;
}

main {
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
}

.abstract {
  margin-top: 30px;
  padding: 20px;
  border-radius: 10px; /* Arrotondato */
  background: #fff; /* Sfondo bianco */
  box-shadow: none; /* Rimuove l'ombra */
}

h2 {
  text-align: center; /* Centrare titoli */
  color: #000; /* Nero */
}

.video-container {
  display: block;
  margin: 20px auto;
  width: 800px;
  height: 450px;
  border-radius: 15px; /* Smussa gli angoli */
  overflow: hidden; /* Nasconde i bordi del contenuto */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Aggiunge un'ombra */
}

.video-container iframe {
  width: 100%;
  height: 100%;
  border: none; /* Rimuove eventuali bordi predefiniti */
}

.overview {
  margin-top: 30px;
  padding: 20px;
  text-align: center;
}

.overview h2 {
  font-size: 24px;
  color: #000;
  margin-bottom: 20px;
}

.overview-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px; /* Spaziatura tra immagine e testo */
}

.overview-image {
  max-width: 75%; /* Riduci la larghezza al 70% del contenitore */
  height: auto; /* Mantieni le proporzioni */
  margin: 0 auto; /* Centra l'immagine */
  border-radius: 10px; /* Arrotonda i bordi */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Aggiungi un'ombra leggera */
}

.overview-text {
  font-size: 16px;
  color: #666;
  line-height: 1.6;
  max-width: 800px; /* Limita la larghezza del testo */
}

.method, .results {
  margin-top: 30px;
  padding: 20px;
  text-align: center;
}

.method h2, .results h2 {
  font-size: 24px;
  color: #000;
  margin-bottom: 20px;
}

.method-content, .results-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px; /* Spaziatura tra immagine e testo */
}

.method-image, .results-image {
  max-width: 100%;
  height: auto;
  border-radius: 10px; /* Arrotonda i bordi delle immagini */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Aggiunge un'ombra leggera */
}

.method-text, .results-text {
  font-size: 16px;
  color: #666;
  line-height: 1.6;
  max-width: 800px; /* Limita la larghezza del testo */
}

.method-pdf {
  width: 100%;
  max-width: 800px; /* Limita la larghezza del PDF */
  height: 500px; /* Altezza del PDF*/
  border: 1px solid #ccc; /* Bordo per il PDF */
  border-radius: 10px; /* Bordi arrotondati */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Aggiunge un'ombra leggera */
  margin-bottom: 20px; /* Spaziatura sotto il PDF */
}

.abstract p, .overview-text, .method-text, .results-text {
  font-size: 16px; /* Dimensione del testo */
  color: #333; /* Colore nero */
  line-height: 1.6; /* Spaziatura tra le righe */
  text-align: justify; /* Giustifica il testo */
  margin: 0 auto; /* Centro il blocco */
  max-width: 800px; /* Larghezza massima per il testo */
}
