/* Font Import */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  font-family: 'Roboto', sans-serif; /* Font moderno e accattivante */
  margin: 0;
  padding: 0;
  background-color: #fff; /* Sfondo bianco */
  color: #333;
}

header {
  text-align: center;
  padding: 20px;
  border-bottom: 1px solid #ddd;
}

header h1 {
  margin-bottom: 10px;
  font-size: 36px; /* Titolo più grande */
  color: #000; /* Nero */
}

.authors {
  font-size: 16px; /* Nome autori più grande */
  margin: 10px 0;
}

.affiliations {
  font-size: 14px;
  color: #666;
}

.buttons {
  margin-top: 15px;
}

.button {
  display: inline-flex;
  align-items: center;
  margin: 5px;
  padding: 10px 20px;
  background-color: #000; /* Nero */
  color: white;
  text-decoration: none;
  border-radius: 15px; /* Bordi arrotondati */
  font-size: 14px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #333;
}

.icon {
  width: 20px;
  height: 20px;
  margin-right: 8px;
}

main {
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
}

.abstract, .overview {
  margin-bottom: 30px;
  background: #fff;
  padding: 15px;
  border-radius: 15px; /* Bordi arrotondati */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center; /* Centrare i titoli */
  color: #000; /* Nero */
}

.video iframe {
  display: block;
  margin: 20px auto; /* Centrare il video */
  border-radius: 15px; /* Bordi arrotondati */
}

footer {
  text-align: center;
  padding: 10px;
  background-color: #000; /* Nero */
  color: white;
}

footer a {
  color: #fff;
  text-decoration: underline;
}
